{% extends "layout.html" %}
{% load static %}



{% block CSSLinks %}
<link rel="stylesheet" href="{% static 'Home/Home_globals.css' %}" />
<link rel="stylesheet" href="{% static 'Home/Home_style.css' %}" />
{% endblock CSSLinks %}



{% block title %}
<title>About Krishna</title>
{% endblock title %}

{% block HomeClass %}"text-wrapper"{% endblock %}
{% block ProjectClass %}"text-wrapper"{% endblock ProjectClass %}
{% block aboutClass %}"store"{% endblock aboutClass %}
{% block HireClass %}"text-wrapper"{% endblock HireClass %}
{% block contactClass %}"text-wrapper"{% endblock contactClass %}
{% block storyClass %}"customer"{% endblock storyClass %}


{% block content %}

{% endblock content %}
