{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  {% block CSSLinks %}
  {% endblock CSSLinks %}

  {% block title %}
  {% endblock title %}
</head>
{% django_browser_reload_script %}
<body>
  <div class="landing-page-main" data-model-id="67:2">
    <div class="div">
      <div class="hero-section">
        <div class= "box">
          <div class="menu">
            <div class="navbar">
              <a href="/" class= {% block HomeClass %}{% endblock %}>Home</a>
              <a href="/projects/" class={% block ProjectClass %}{% endblock %}>Projects</a>
              <a href="/about/" class={% block aboutClass %}{% endblock %}>About Me</a>
              <a href="/hire/" class={% block HireClass %}{% endblock %}>Hire Me</a>
              {% comment %} <a href="/contact/" class={% block contactClass %}{% endblock %}>Contact</a>
              <a href="/story/" class= {% block storyClass %}{% endblock %} >My Story</a> {% endcomment %}
            </div>
            <div class="services-2">Krishna</div>
          </div>
          {% block content %}
          
          {% endblock content %}
      </div>
    </div>
  </div>
</body>
</html>